<!DOCTYPE html
  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Merilo</title>
	<style type="text/css">
		body { font-family:Arial; font-size:85%; }
		ul { list-style:none; padding:0px; }
		li { float:left; border:1px solid; margin:0px 5px; padding:5px; background-color:#eef;}
		li a { text-decoration:none; }
		#graph, #graph_sorted { width:600px; height:300px; }
	</style>
	<script type="text/javascript" src="jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="jquery.flot.min.js"></script>
	<script type="text/javascript" src="responsetimedata.js"></script>
	<script type="text/javascript" src="responsetimedata_sorted.js"></script>
	<script type="text/javascript" src="graph.js"></script>
</head>
<body>
<ul>
	<li><a href="#htmlerrors">HTML errors</a></li>
	<li><a href="#contenterrors">Content errors</a></li>
	<li><a href="#httperrors">HTTP errors</a></li>
	<li><a href="#responsetimes">Top 20 response times</a></li>
	<li><a href="#responsetimegraph">Response time graph</a></li>
</ul>
<br/>
<br/>